.instructor-card {
  padding: 20px;
  background-color: $color-default-white;
  box-sizing: border-box;

  @include vp-1199 {
    padding: 15px;
  }

  @include vp-767 {
    padding: 20px;
  }
}

.instructor-card img {
  object-fit: cover;
  margin-bottom: 16px;
  user-select: none;
  width: 100%;

  @include vp-1199 {
    height: 212px;
  }
}

.instructor-card h4 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  cursor: default;
  user-select: none;

  @include vp-1199 {
    margin: 0 0 12px;
  }
}

.instructor-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  cursor: default;
  user-select: none;

  @include vp-1199 {
    line-height: 18px;
  }
}

.instructor-card__wrapper {
  display: flex;

  @include vp-767 {
    padding-right: 12px;
  }
}

.instructor-card__social-container {
  margin-left: auto;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instructor-card__social-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  outline: 1px solid rgba(2, 101, 193, 0.1);

  @include hover-focus {
    outline: $color-dark-slate-gray solid 1px;
  }

  @include active {
    background-color: $color-royal-blue;
    outline: none;

    & use {
      fill: $color-default-white;
    }
  }
}
