.main-footer {
  border-top: 1px solid rgba(45, 56, 63, 0.2);
}

.main-footer__container {
  padding: 31px 0;

  @include vp-1199 {
    padding: 43px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 22px;
    flex-direction: column;
    align-items: start;
  }
}

.main-footer__wrapper-logo {
  @include vp-767 {
    margin-bottom: 17px;
  }
}

.main-footer__logo {
  height: 60px;
  display: block;

  @include vp-1199 {
    height: 34px;
  }

  @include hover-focus {
    outline: none;

    & use {
      fill: $color-resolution-blue;
    }
  }
}

.main-footer__logo-icon {
  @include vp-1199 {
    width: 118px;
    height: 36px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }

  @include hover-focus {
    & use {
      fill: $color-resolution-blue;
    }
  }

  @include active {
    & use {
      fill: $color-royal-blue;
    }
  }
}

.main-footer__links {
  max-width: 630px;
  padding-right: 5.35%;

  @include vp-1199 {
    max-width: 514px;
    padding-right: 0.8%;
    padding-bottom: 5px;
  }
}

.main-footer__links ul {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    column-gap: 21px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 63px;
    row-gap: 11px;
  }
}

.main-footer__links li {
  @include vp-767 {
    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }
}

.main-footer__telephone address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-footer__links a {
  position: relative;
  padding: 2px 5px;
  margin: -2px -5px;

  &::before {
    content: "";
    display: none;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: $color-dark-slate-gray;
  }

  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }

  @include hover {
    &::before {
      display: block;
    }
  }

  @include focus {
    outline: 1px solid $color-dark-slate-gray;
  }

  @include active {
    &::before {
      display: none;
    }
  }
}

.main-footer__telephone {
  @include vp-1199 {
    display: none;
  }
}

.main-footer__telephone a {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-royal-blue;
  }
}

.main-footer__social-network {
  width: max-content;
  margin: 0 auto 20px;

  @include vp-767 {
    margin: 0 auto 20px 0;
  }
}

.main-footer__policy-conditionality {
  width: max-content;
  margin: 0 auto;

  @include vp-767 {
    margin: 0 auto 0 0;
  }
}

.main-footer__policy-conditionality p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}
