.advantages__container {
  padding: 86px 0;

  @include vp-1199 {
    padding: 38px 0;
  }

  @include vp-767 {
    padding: 1px 0;
  }
}

.advantages__swiper {
  margin-bottom: 50px;
  max-width: 1440px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.advantages__swiper-wrapper {
  display: grid;
  grid-auto-flow: column;

  @include vp-1199 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include vp-1199 {
    row-gap: 32px;
    column-gap: 30px;
  }

  @include vp-767 {
    gap: 17px;
  }
}

.advantages__swiper-slide {
  @include vp-1199 {
    flex-shrink: 1;
    width: 47.78%;
    height: auto;
  }

  @include vp-767 {
    width: auto;
    max-width: 500px;
  }
}

.advantages__advantage {
  box-sizing: border-box;
  height: 100%;
}

.advantages__title {
  text-align: center;
  margin-bottom: 47px;

  @include vp-1199 {
    margin-bottom: 49px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.advantages__button-container {
  justify-content: center;

  @include vp-1199 {
    display: none;
  }
}
