.questions {
  position: relative;
}

.questions__container {
  box-sizing: border-box;
  padding: 313px 0 0 0;
  min-height: 800px;

  @include vp-1199 {
    padding: 195px 0 0;
    min-height: 679px;
  }

  @include vp-767 {
    padding: 181px 0 0;
    min-height: 621px;
  }
}

.questions__background-container {
  background-color: $color-resolution-blue;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.questions__background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.questions__title {
  margin-bottom: 15px;
  padding-right: 17px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 19px;
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.questions__description {
  @include vp-1199 {
    width: max-content;
    margin: 0 auto;
  }
}

.questions__description p {
  margin: 0 0 43px 0;
  padding-right: 18px;
  text-align: center;
  line-height: 24px;
  color: $color-default-white;

  @include vp-1199 {
    margin: 0 0 29px;
    max-width: 300px;
    padding: 0;
  }

  @include vp-767 {
    margin: 0 0 27px;
    font-size: 12px;
    line-height: 18px;
  }
}

.questions__form-container form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-1199 {
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 8px;
  }
}

.questions__field-container {
  @include vp-767 {
    width: 100%;
    max-width: 460px;
  }
}

.questions__field-container input:not([type="submit"]) {
  width: 340px;
  box-sizing: border-box;
  color: $color-dark-slate-gray;
  font-family: $ff-montserrat;
  padding: 22px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: none;

  &::placeholder {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 16px 15px;
    width: 266px;
    font-size: 14px;
    line-height: 14px;
  }

  @include vp-767 {
    width: 100%;
  }

  @include hover {
    outline-offset: -1px;
    outline: 1px solid $color-royal-blue;
  }

  @include focus {
    outline-offset: -1px;
    outline: 1px solid $color-resolution-blue;
  }

  @include active {
    outline-offset: -1px;
    outline: 1px solid $color-resolution-blue;
  }
}

.questions__form-container input[type="submit"] {
  width: 238px;

  @include btn;

  @include vp-1199 {
    margin-top: 8px;
    min-width: 266px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 460px;
    margin: 0;
    padding: 18px;
  }
}

.questions__field-container.is-invalid input:not([type="submit"]) {
  outline-offset: -1px;
  outline: 1px solid #ff121f;
}
