.review {
  box-sizing: border-box;
  display: flex;
  padding: 20px 40px 20px 20px;
  gap: 30px;
  width: 790px;

  @include vp-1199 {
    padding: 20px 30px 20px 20px;
    width: 560px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    width: 484px;
    box-sizing: border-box;
  }

  @include vp-540 {
    width: 100%;
  }
}

.review p {
  cursor: default;
  user-select: none;
}

.review__image-container {
  flex-shrink: 0;

  @include vp-767 {
    width: 100%;
  }
}

.review__image-container img {
  object-fit: cover;

  @include vp-1199 {
    width: 186px;
    height: 237px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }
}

.review__text-content-conteiner {
  display: flex;
  flex-direction: column;
  padding: 13px 0;

  @include vp-1199 {
    padding: 3px 0;
  }

  @include vp-767 {
    padding: 0;
  }
}

.review__description-container p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  &:first-of-type {
    margin: 0 0 10px 0;
  }

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }
}

.review__author-container {
  margin-top: auto;
}

.review__author-container p {
  margin: 27px 0 7px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 12px;
  }

  @include vp-767 {
    margin: 16px 0 7px;
  }
}

.review__age-place-container {
  margin-bottom: 4px;

  @include vp-1199 {
    margin: 0;
  }
}

.review__age-place-container p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
