.gym__wrapper {
  padding: 120px 20px 114px 20px;
  width: 100%;
  min-width: $vp-320;
  max-width: $vp-1200;
  margin: 0 auto;

  display: flex;
  justify-content: end;
  column-gap: 85px;

  @include vp-1199 {
    padding: 101px 45px;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 64px 0 70px 0;
  }
}

.gym__container-text {
  padding-top: 39px;
  max-width: 355px;

  @include vp-1199 {
    max-width: 77%;
    text-align: center;
    padding-top: 0;
  }

  @include vp-767 {
    padding: 0 15px;
    max-width: none;
    text-align: start;
  }
}

.gym__container-text h2 {
  margin-bottom: 8px;
  font-size: 48px;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin: 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 6px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.gym__container-text h3 {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 18px;

  @include vp-1199 {
    margin: 0 0 36px;
  }

  @include vp-767 {
    margin: 0 0 25px;
  }
}

.gym__container-text p {
  margin: 0;
  font-weight: 300;
  margin-bottom: 7px;

  @include vp-1199 {
    margin: 0 0 44px;
  }

  @include vp-767 {
    margin: 0 0 34px;
  }
}

.gym__container-text p:last-of-type {
  @include vp-1199 {
    display: none;
  }
}

.gym__container-visual {
  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    margin: 0 -15px;
  }
}

.gym__video-contaner {
  margin-top: -113px;
  margin-left: -63px;

  @include vp-1199 {
    margin: -84px auto 0;
  }

  @include vp-767 {
    margin: 40px 0 0 0;
  }
}

.gym__gym-image-container img {
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    min-height: 313px;
  }
}
