.main-header {
  background: conic-gradient(
    from 151deg at 16.03% 39.06%,
    #003d85 32.24deg,
    #b80027 304deg,
    #003d85 360deg
  );

  @include vp-1199 {
    background: conic-gradient(
      from 168deg at 20.7% 35.74%,
      #003d85 32.24deg,
      #b80027 304deg,
      #003d85 360deg
    );
  }

  @include vp-767 {
    background: conic-gradient(
      from 190deg at 35.31% 34.22%,
      #003d85 32.24deg,
      #b80027 304deg,
      #003d85 360deg
    );
  }
}

.main-header__top {
  padding-top: 30px;
  padding-bottom: 15px;

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding: 15px 0;
  }
}
