@mixin btn {
  display: inline-flex;
  padding: 21px;
  min-width: 220px;
  justify-content: center;
  align-items: center;
  color: $color-default-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  border: none;
  background-color: $color-royal-blue;
  user-select: none;
  box-sizing: border-box;
  text-align: center;

  @include hover-focus {
    color: #1c3374;
    background-color: $color-default-white;
    outline: 1px solid #1c3374;
    outline-offset: -1px;
  }

  @include active {
    color: $color-default-white;
    background: #1c3374;
  }
}

.btn {
  @include btn;

  &--disabled {
    @include disabled {
      background: rgba(2, 102, 193, 0.1);
      pointer-events: none;
    }
  }
}
