.header-bottom {
  max-width: 100%;
}

.header-bottom__swiper-slide {
  height: auto;
  padding: 182px 0 80px;

  @include vp-1199 {
    box-sizing: border-box;
    min-height: 1024px;
    padding: 173px 0 110px;

    @include vp-767 {
      min-height: 568px;
      padding: 140px 0 60px;
    }
  }
}

.header-bottom__background-img,
.header-bottom__background-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $color-royal-blue;
}

.header-bottom__background-overlay {
  background: linear-gradient(
    112deg,
    rgba(15, 20, 41, 0.33) 17.23%,
    rgba(15, 20, 41, 0) 94.93%
  );
}

.header-bottom__background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-bottom__pagination-container {
  position: absolute;
  bottom: 94px;
  z-index: 1;
  width: 100%;

  @include vp-1199 {
    bottom: 86px;
  }

  @include vp-767 {
    bottom: 37px;
  }
}

.header-bottom .header-bottom__swiper-pagination {
  position: static;
  margin-left: auto;
  width: max-content;

  @include vp-1199 {
    margin: 0 auto;
  }
}

.header-bottom__swiper-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border: 1px solid $color-default-white;
  background-color: transparent;
  opacity: 1;

  @include vp-767 {
    width: 7px;
    height: 7px;
  }

  @include hover-focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  @include active {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.header-bottom__swiper-pagination .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
