.hero__container {
  position: relative;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero h1 {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 22px;
  max-width: 925px;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  cursor: default;

  @include vp-1199 {
    margin-bottom: 13px;
    text-align: center;
    font-size: 56px;
    line-height: 56px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 30px;
  }
}

.hero__container > p {
  margin-top: 0;
  margin-bottom: 37px;
  max-width: 470px;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-white;
  cursor: default;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 28px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero__button {
  margin-bottom: 150px;

  @include vp-1199 {
    display: block;
    margin: 0 0 50px 0;
    min-width: 206px;

    &--kamchatka {
      margin-bottom: 34px;
    }

    &--altay {
      margin-bottom: 69px;
    }

    @include vp-767 {
      min-width: auto;
      width: 62.4%;
      padding: 18px;
    }
  }
}

.hero__descriptions-container {
  display: flex;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__description-container {
  padding: 14px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero__description-container p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $color-default-white;
  cursor: default;
}

.hero__video-contaner {
  position: absolute;
  right: 0;
  top: 119px;

  @include vp-1199 {
    position: relative;
    top: 0;
  }
}

.hero__audio-contaner {
  position: absolute;
  right: 0;
  top: 119px;

  @include vp-1199 {
    position: relative;
    top: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__card-img-container {
  position: absolute;
  right: 0;
  bottom: 60px;
  display: flex;

  @include vp-1199 {
    position: relative;
    bottom: 0;
    padding-top: 53px;
    padding-left: 206px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__card-ahead {
  position: absolute;
  bottom: 51px;
  left: -133px;

  @include vp-1199 {
    bottom: 14px;
    left: 0;
  }
}

.hero__card-ahead img {
  @include vp-1199 {
    width: 266px;
    height: 351px;
  }
}

.hero__card-behind img {
  position: relative;
  z-index: 2;

  @include vp-1199 {
    width: 236px;
    height: 312px;
  }
}
