.abonnements {
  width: 100%;
  background-color: $color-ghost-white;
  overflow-x: clip;
}

.abonnements__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 64px 0 70px 0;
  }
}

.abonnements__pancakes {
  position: absolute;
  bottom: -150px;
  right: -282px;

  @include vp-1199 {
    bottom: -123px;
    right: -238px;
    width: 423px;
    height: 444px;
  }

  @include vp-767 {
    display: none;
  }
}

.abonnements__pancakes img {
  @include vp-1199 {
    bottom: -150px;
    right: -282px;
  }
}

.abonnements__title {
  margin-bottom: 20px;
}

.abonnements__control-list {
  display: flex;
  gap: 46px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 38px 0;
  padding: 0 0 14px 0;
  border-bottom: solid rgba(120, 120, 120, 0.2) 2px;

  @include vp-1199 {
    gap: 54px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    gap: 45px;
    margin-bottom: 33px;
  }
}

@mixin abonnements__control-item--is-active {
  color: $color-sapphire;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 2px;
    background-color: #d10a42;
  }

  @include vp-767 {
    &::before {
      bottom: -18px;
    }
  }
}

.abonnements__control-item .is-active {
  @include abonnements__control-item--is-active;
}

.abonnements__control-button {
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  cursor: pointer;
  user-select: none;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    @include abonnements__control-item--is-active;
    outline: none;
  }
}

.abonnements__control-item--disabled button {
  @include disabled {
    color: $color-sapphire;
    opacity: 0.3;
    cursor: default;

    &::before {
      display: none;
    }
  }
}

.abonnements__control-item--disabled .is-active {
  &::before {
    display: none;
  }
}

.abonnements__content-list,
.abonnements__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.abonnements__content-list {
  width: 100%;
}

.abonnements__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.abonnements__content-item {
  width: 100%;
}
