.reviews__container {
  padding: 120px 0 121px;

  @include vp-1199 {
    padding: 91px 0 100px;
  }

  @include vp-767 {
    padding: 63px 0 47px;
  }
}

.reviews__header {
  text-align: center;
  margin-bottom: 34px;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.reviews__wrapper {
  position: relative;
}

.reviews__review-container {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
  padding: 62px 62px 57px 62px;
  width: 560px;
  background-color: #1c3374;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
    padding: 62px 65px 57px 65px;
  }

  @include vp-767 {
    grid-template-columns: 84px 1fr;
    column-gap: 15px;
    width: 71%;
    padding: 40px 25px 34px;
  }
}

.reviews__name-avtor {
  margin: -7px 0 0;
  color: $color-default-white;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  cursor: default;
  user-select: none;

  @include vp-767 {
    margin-top: 9px;
    line-height: 130%;
  }
}

.reviews__description {
  margin: -46px 0 0;
  grid-area: 2/2/3/3;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  cursor: default;
  user-select: none;

  @include vp-767 {
    grid-area: 2/1/3/3;
    margin: 14px 0 0;
    text-align: center;
  }
}

.reviews__review-container img {
  user-select: none;

  @include vp-767 {
    margin-left: 16px;
    width: 68px;
    height: 68px;
  }
}

.reviews__swiper {
  width: 712px;

  @include vp-1199 {
    margin: 0 auto;
    width: 718px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 566px;
    padding-bottom: 11px;
  }
}

.reviews__swiper-button-prev {
  z-index: 2;
  left: 14px;

  @include vp-1199 {
    top: 50.2%;
  }

  @include vp-767 {
    top: 48.3%;
    left: 8px;
  }

  @include hover-focus {
    &::before {
      left: 56%;
    }
  }
}

.reviews__swiper-button-next {
  z-index: 2;
  top: 50%;
  right: 14px;

  @include vp-1199 {
    top: 50.2%;
  }

  @include vp-767 {
    top: 48.3%;
    right: 8px;
  }

  @include hover-focus {
    &::before {
      left: 44%;
    }
  }
}

.reviews__swiper-button-prev::after,
.reviews__swiper-button-next::after {
  font-size: 33px;

  @include vp-767 {
    font-size: 20px;
  }
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
  @include hover-focus {
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
      height: 56px;
      outline: 1px solid #afafaf;
      border-radius: 50%;

      @include vp-767 {
        width: 35px;
        height: 35px;
      }
    }
  }

  @include active {
    &::before {
      background-color: $color-sapphire;
    }

    &::after {
      z-index: 1;
      color: $color-default-white;
    }
  }
}

.reviews__swiper-slide {
  align-self: center;
}
