.about-us__container {
  padding: 100px 0;

  @include vp-1199 {
    padding: 26px 0;
  }

  @include vp-767 {
    padding: 2px 0;
  }
}

.about-us {
  position: relative;
}

.about-us__background-image {
  position: absolute;
  left: 0;
  top: 64px;
  right: 43.89%;
  z-index: -1;

  @include vp-1199 {
    top: 32px;
    right: 37.89%;
  }

  @include vp-767 {
    position: static;
    margin-bottom: 47px;
  }
}

.about-us__background-image img {
  object-fit: cover;
  width: 100%;
  max-width: 930px;
  max-height: 540px;

  @include vp-1199 {
    max-height: 404px;
  }

  @include vp-767 {
    max-height: none;
  }
}

.about-us__wrapper {
  display: grid;
  grid-template-columns: 1.05fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1.09fr 1fr;
  }

  @include vp-767 {
    display: block;
  }
}

.about-us__descriptiopn-container {
  grid-area: 1/2/2/3;
}

.about-us__pharagraph-container p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-767 {
    line-height: 20px;
  }
}

.about-us__title {
  margin-bottom: 56px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.about-us__subtitle {
  margin-bottom: 15px;

  @include vp-767 {
    margin-bottom: 16px;
  }
}

.about-us__passage:first-of-type {
  margin-bottom: 31px;

  @include vp-1199 {
    margin-bottom: 29px;
  }

  @include vp-767 {
    margin-bottom: 43px;
  }
}
