.reviews {
  overflow-x: clip;
}

.reviews__container {
  padding: 0 0 50px 0;

  @include vp-1199 {
    padding: 42px 0 50px;
  }

  @include vp-767 {
    padding: 51px 0 50px;
  }
}

.reviews__title-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  padding: 8px 0 0 0;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.reviews__title {
  margin-top: 14px;

  @include vp-767 {
    margin-top: 10px;
  }
}

.reviews__swiper {
  overflow: visible;
  overflow-x: clip;
  padding-left: 30px;
  margin-left: -30px;
  max-width: 1320px;

  @include vp-767 {
    padding: 0 5.4%;
    margin: 0 -5.3%;
    max-width: 100%;
  }
}

.reviews__swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
}

.reviews__review {
  height: 100%;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
}

.swiper-slide {
  width: auto;
}

.swiper-slide-prev .reviews__review {
  box-shadow: none;
}
