@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/alumni-sans/alumnisans-semibold.woff2") format("woff2"),
    url("../fonts/alumni-sans/alumnisans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"),
    local("RobotoCondensed-Light"),
    url("../fonts/roboto-condensed/robotocondensedlight.woff2") format("woff2"),
    url("../fonts/roboto-condensed/robotocondensedlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed/robotocondensed.woff2") format("woff2"),
    url("../fonts/roboto-condensed/robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/roboto-condensed/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
